<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search By PinCode</title>
</head>

<body>
    <h1>Welcome to Cowin App</h1>
    <form action="/pincode" method="POST">
        <label for="pincode">Search by PinCode</label>
        <input type="number" name="pincode" id="pincode">

        <label for="date">Date</label>
        <input type="date" name="date" id="date">
        <button type="submit">Search By PinCode</button>
    </form>

    <a href="/">Search by District</a>
</body>

</html>