body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    margin: 20px;
}
h1{
    text-align: center;
    /* margin-top: 200px; */
}
ul{
    list-style-type: none;
}
.fast{
    text-align: center;
}
#btn1{
    width: 90%;
    margin: 10px;
}

.table-responsive{
    /* width: 90%; */
    
    margin: 10px 20px;
}

/* @media screen and(max-width:500px) {
    #vaccine{

    }
    
} */